---
import { Image } from "astro:assets";
import Layout from "../../layouts/main.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import blogIndex from "../../assets/blog-index.jpg";

const posts = (await getCollection("blog")).sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION} language="es">
    <section class="hero bg-base-200">
        <div class="hero-content flex-col lg:flex-row">
            <Image
                src={blogIndex}
                class="max-h-64 max-w-xs rounded-lg shadow-2xl lg:max-h-full"
                alt="Hand coloring blue puzzle piece with green pencil"
            />
            <div>
                <h1 class="text-5xl font-bold">Blog</h1>
                <p class="py-6">Lo que no contamos en GitHub</p>
                <!-- <Drawer {postDates} /> -->
            </div>
        </div>
    </section>

    <section class="z-0 flex flex-wrap justify-center">
        {
            posts.map((post) => (
                <div class="card bg-base-100 image-full w-96 p-4 shadow-sm">
                    {post.data.image && (
                        <div class="grid max-h-full max-w-full content-center">
                            <Image
                                width={720}
                                height={360}
                                src={post.data.image}
                                alt={post.data.title}
                                class="max-h-48 rounded-2xl"
                            />
                        </div>
                    )}
                    <div class="card-body">
                        <h2 class="card-title">
                            <a href={`/blog/${post.id}/`}>{post.data.title}</a>
                        </h2>
                        <p>{post.data.description}</p>
                    </div>
                </div>
            ))
        }
    </section>
</Layout>

<style>
    #background {
        background: linear-gradient(
            to bottom,
            var(--color-base-100) 0%,
            black 25%,
            black 75%,
            var(--color-base-100) 100%
        );
    }
</style>
