---
import Routes from "../pages/routes";
type Props = {
    isBurgerMenu?: boolean;
};
const { isBurgerMenu } = Astro.props;

let ulClass = isBurgerMenu
    ? "menu menu-sm dropdown-content bg-neutral rounded-box z-1 mt-3 w-52 p-2 shadow"
    : "menu menu-horizontal px-1";
---

<ul class={ulClass}>
    <li><a href={Routes.home.getUrl()}>{Routes.home.name}</a></li>
    <li><a href={Routes.blog.getUrl()}>{Routes.blog.name}</a></li>
    <li>
        <a href={Routes.quienesSomos.getUrl()}>{Routes.quienesSomos.name}</a>
    </li>
</ul>
